


 
 <div class="main">


    <form action="" class="col-md-4 offset-4 mt-5 card card-body loginpage" #form="ngForm" (ngSubmit)="loginData(form)">
        <h2 style="color:black;text-align: center;">LOGIN PAGE</h2>
        <div class="form-group">
            <input type="text" name="id" id="id" class="form-control" placeholder="Enter User Id...." #id="ngModel" ngModel required>
            <div *ngIf="id.touched && id.invalid">
            <p class="alert alert-danger" *ngIf="id.errors.required">*This Field is required</p>
            </div>
        </div>
        
        <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password..." #password="ngModel" ngModel required minlength=8> 
             <div *ngIf="password.touched && password.invalid">
               <p class="alert alert-danger" *ngIf="password.errors.required">*This Field is Required</p>
               <p class="alert alert-danger" *ngIf="password.errors.minlength">*Password Should Have Atleast 8 Characters</p>
              </div>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid" (click)="home()" >Login</button>
        </div>
    </form>
  </div>  
 

 