<form #form ="ngForm" action="" class="col-md-4 offset-4 mt-5 mb-5 card card-body" (ngSubmit)="loginData(form)">
    <h1 class="float-center bg-primary text-white text-center">
     Please Login
    </h1>
    <div class="form-group">
<input type="email" name="email" id="email" #email = "ngModel" ngModel class="form-control" placeholder="Enter Email.." required minlength="5">
<div *ngIf ="email.touched && email.invalid">
    <p *ngIf="email.errors.required" class="alert-danger">*This feild is required</p>
    <p *ngIf="email.errors.minlength">*Min lenght is 5</p>
</div>
</div>
<div class="form-group">
<input type="password" #password="ngModel" ngModel name="password" id="password" class="form-control" placeholder="Enter Password.." required minlength="5">
<div *ngIf="password.touched && password.invalid">
    <p *ngIf="password.errors.required" class="alert-danger">*This feild is required</p>
    <p *ngIf="password.errors.minlength">Min length is 5</p>
</div>
</div>
<div class="from-group">
    <button class="btn btn-outline-success float-right" [disabled]="form.invalid">Register</button>
</div>

</form>
