<form action="" #form="ngForm"    (ngSubmit)="saveOrder(form)">
    <h1 class="text-center bg-dark text-white">Purchase</h1>

<table class="">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>GST</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name=oid #oid="ngModel" ngModel placeholder="Enter product id"></td>
            <td><input type="text" name="name" #name="ngModel" ngModel placeholder="Enter product Name"></td>
            <td><input type="text" name="quantity" #quantity="ngModel" ngModel placeholder="Enter Quantity"></td>
            <td><input type="text" name="totalPrice" #totalPrice="ngModel" ngModel ngModel placeholder="price"></td>
            <td><input type="text" name="totalPriceWithGst" #totalPriceWithGst="ngModel" ngModel  placeholder="Enter GST"></td>
             <td>
                <button type="submit" class="btn btn-outline-success">Purchase</button>
            </td>


        </tr>
    </tbody>
</table>
</form>