<form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>New Message....</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">To</label>  
      <div class="col-md-4">
      <input id="textinput" name="textinput" type="text" placeholder="To..." class="form-control input-md">
      
      </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Subject</label>  
        <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="From..." class="form-control input-md">
        
        </div>
      </div>
    
    
    
    <!-- File Button --> 
    <div class="form-group">
      <label class="col-md-4 control-label" for="filebutton">Attach</label>
      <div class="col-md-4">
        <input id="filebutton" name="filebutton" class="input-file" type="file">
      </div>
    </div>
    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-10 control-label" for="textarea">Text Area</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="textarea" name="textarea">default text</textarea>
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Send</button>
      </div>
    </div>
    
    </fieldset>
    </form>