<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
   <div class="row overflownone">
      <div class="col-md-4 information nopaddingleft nopaddingright hidden-sm hidden-xs">
         <h3>Your Emails</h3>
         <ul class="information_menu">
            <li class="active" data-id="1"><a routerLink="/inbox"><i class="fa fa-commenting-o"></i> Inbox</a></li>
            <li data-id="2"><a routerLink="/sent"><i class="fa fa-commenting-o"></i> Sent items</a></li>
            <li data-id="3"><a routerLink="/draft"><i class="fa fa-commenting-o"></i> Draft</a></li>
            <li data-id="4"><a routerLink="/delete"><i class="fa fa-commenting-o"></i> Deleted Mails</a></li>
         </ul>
         <a href="/compose" class="btn btn-emergency" (click)="compose()"><span><i class="fa fa-commenting-o"></i> Compose Mail</span></a>
      </div>
      <div class="col-md-8 nopaddingleft nopaddingright">
         <div class="slideshow">
            <div class="overlay-id1 overlay-item">
               <h3>Choose option</h3>
                  <ul class="quickmenu">
                    <li><a href="#" title="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                    <li><a href="#" title="#">Praesent posuere tellus a luctus aliquet.</a></li>
                    <li><a href="#" title="#">Phasellus imperdiet mi eget sollicitudin molestie.</a></li>
                    <li><a href="#" title="#">In accumsan tortor eget massa bibendum, ut suscipit elit maximus.</a></li>
                    <li><a href="#" title="#">Nulla sodales turpis vitae dapibus convallis.</a></li>
                </ul>
            </div>
            <div class="overlay-id2 overlay-item">
              <h3>Choose option</h3>
                  <ul class="quickmenu">
                    <li><a href="#" title="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                    <li><a href="#" title="#">Praesent posuere tellus a luctus aliquet.</a></li>
                    <li><a href="#" title="#">Phasellus imperdiet mi eget sollicitudin molestie.</a></li>
                    <li><a href="#" title="#">In accumsan tortor eget massa bibendum, ut suscipit elit maximus.</a></li>
                    <li><a href="#" title="#">Nulla sodales turpis vitae dapibus convallis.</a></li>
                </ul>
            </div>
            <div class="overlay-id3 overlay-item">
               <h3>Choose option</h3>
                  <ul class="quickmenu">
                    <li><a href="#" title="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                    <li><a href="#" title="#">Praesent posuere tellus a luctus aliquet.</a></li>
                    <li><a href="#" title="#">Phasellus imperdiet mi eget sollicitudin molestie.</a></li>
                    <li><a href="#" title="#">In accumsan tortor eget massa bibendum, ut suscipit elit maximus.</a></li>
                    <li><a href="#" title="#">Nulla sodales turpis vitae dapibus convallis.</a></li>
                </ul>
            </div>
            <div class="overlay-id4 overlay-item">
               <h3>Choose option</h3>
                  <ul class="quickmenu">
                    <li><a href="#" title="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                    <li><a href="#" title="#">Praesent posuere tellus a luctus aliquet.</a></li>
                    <li><a href="#" title="#">Phasellus imperdiet mi eget sollicitudin molestie.</a></li>
                    <li><a href="#" title="#">In accumsan tortor eget massa bibendum, ut suscipit elit maximus.</a></li>
                    <li><a href="#" title="#">Nulla sodales turpis vitae dapibus convallis.</a></li>
                </ul>
            </div>
            <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
               <!-- Indicators -->
               <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
               </ol>
               <!-- Wrapper for slides -->
               <div class="carousel-inner" w>
                  <div class="item active">
                     <div class="carousel-caption">
                        <h3>Congratulation For Successful login</h3>
                        <p></p>
                     </div>
                  </div>
               </div>
            
            </div>
         </div>
      </div>
   </div>
   <div class="row visible-xs visible-sm ">
      <div class="col-md-12 mobile-menu-bg">
         <ul class="information_menu_mobile">
            <li class="active"><a href="#"><i class="fa fa-calendar-plus-o"></i> <span class="hidden-xs">Lorem ipsum</span></a></li>
            <li><a href="#"><i class="fa fa-commenting-o"></i> <span class="hidden-xs">Praesent posuere</span></a></li>
            <li><a href="#"><i class="fa fa-medkit"></i> <span class="hidden-xs">Phasellus imperdiet</span></a></li>
            <li><a href="#"><i class="fa fa-heartbeat"></i> <span class="hidden-xs">In accumsan</span></a></li>
         </ul>
         <div class="clearfix"></div>
      </div>
   </div>
</div>