<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
               <h2><a class="nav-link" routerLink="/">Mailing System</a></h2> 
            </li>
        </ul>
        <li class="nav-item active">
            <h5><a class="nav-link" routerLink="/mail">Mail</a></h5>
        </li>
        <li class="nav-item active">
            <h5><a class="nav-link" routerLink="/register">Register</a></h5>
        </li>        
        <li class="nav-item active">
          <h5><a class="nav-link" routerLink="/changepassword">Change Password</a></h5>
      </li>
      

    </div>
</nav>
