body{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

nav{
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height:100px;
    padding: 10px 50px;
    box-sizing: border-box;
    background: rgb(0,0,0,0.5);
}

nav.logo{
    padding: 20px 18px;
    height:80px;
    float:left;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color:#fff;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0px;
    padding: 0px;
    display: flex;
}

nav ul li a{
    line-height: 50px;
    color:#fff;
    padding: 10px 28px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin-left:-6% ;
}

nav ul li a:hover{
     background: rgb(0,0,0,0.7);
     border-radius: 6px;
}

section{
    width: 100%;
    height: 100vh;
    background: url('img\green-1072828_960_720.jpg');
    background-size: cover;
    background-position: center;
}